<section alx-dropzone
         [alx-accept-function]  = "isMedia"
         (alx-ondrop)           = "loadMedia($event)"
         alx-drag-css           = "dropCandidate"
         alx-drag-over-css      = "canDrop"
         (swipeleft)="Log('swipeleft')"
         (press)="Log('press')"
         (tap)="rootSection.classList.toggle('truc')"
         [class.playing]="isPlaying()"
         #rootSection
>
<paper-card *ngIf="currentMedia" heading = "{{nf.name}}" image="{{currentMedia.albumarturi}}">
  <div>
    <paper-button *ngIf="!isPlaying() && currentMedia" (click)="play ()" raised>play</paper-button>
    <paper-button *ngIf="!currentMedia || isPlaying()" raised disabled>play</paper-button>
    <paper-button *ngIf=" isPlaying()" (click)="pause()" raised>pause</paper-button>
    <paper-button *ngIf=" !isPlaying()"  raised disabled>pause</paper-button>
    <paper-button *ngIf="!isStopped()" (click)="stop ()" raised>stop</paper-button>
  </div>
  <section class="volume">
    <!-- paper-slider est une extension permettant de créer un… slider. Il peut être stylé en CSS -->
      <paper-slider
              min   = "0"
              max   = "100"
              [ngModel]       = "volume"
              (ngModelChange) = "setVolume($event)"
      ></paper-slider>
  </section>
  <div class="card-content">
    <div class="card-music" *ngIf="currentMedia.classe == 'object.item.audioItem.musicTrack'">
      <div class="media-title">{{currentMedia.title}}</div>
      <div class="media-creator">{{currentMedia.creator}}</div>
    </div>
    <div class="card-video" *ngIf="currentMedia.classe == 'object.item.videoItem'">
      <div class="media-title">{{currentMedia.mediaId.split('/')[currentMedia.mediaId.split('/').length-1]}}</div>
    </div>
  </div>
</paper-card>

<!-- Explication des attributs de la balise section :
– alx-drag-css = "dropCandidate" : si un media est "dragged" la classe CSS du renderer est dropCandidate
– alx-drag-over-css = "canDrop" : si le media dragé est au niveau du renderer la classe CSS canDrop s'applique
– (swipeleft)="Log('swipeleft')" : le sipe est détectable et peut déclencher une fonction
– (press)="Log('press')" : idem pour le press
– [class.playing]="isPlaying()" : la classe CSS .playing s'active si un media est lu
– #rootSection : équivalent à id="rootSection" mais à n'utiliser qu'avec un appel de classe Javascript (cf. plus bas)
-->

<!-- nf est l'objet media lu par le renderer. pour connaître les informations accessibles, regardez le json tracé dans le renderer -->
<!--<p>{{nf.name}}</p>-->




    <!-- Cette section comporte des infos complémentaires sur le media en cours de lecture. Il affiche la durée du média, l'image si elle est dispo, et le json complet des métadonnées du media -->
 <section *ngIf="currentMedia">
        Duration: {{currentMedia.duration}}<br />
        <img src="{{ currentMedia.abumarturi }}" style="max-width:100px" /><br/>
        currentMedia object:<br />
        <code>{{currentMedia | json}}</code>
    </section>

</section>
