paper-input.search{
  position: absolute;
  right: 20px;
  top: 0px;
}

paper-toolbar.breadcrumbBar{
  background-color: #E8811D;
}

a.upArrow {
  display: block;
  background-image: url("img/upArrow.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 320px;
  bottom: 10px;
}

img.imgItem{
  width: 20px;
  margin-right: 5px;
}
